body{
    background: var(--malr-bg1) !important;
}

/* backgrounds */
/* ----------- */
.button_edit,
.button_add,
.page-common #horiznav_nav li:hover,
#ad_menu,
.video-menu-category .btn-category:hover,
.featured-search-input-submit:hover,
.btn-choose-your-own,
.icon-top-ranking-page .prev:hover, .icon-top-ranking-page .next:hover,
.pagination .link-blue-box:hover,
.forum .forum-search-side *,
#malr_menu, #malr_themes,
#sectionSettings,
#editdiv{
    background-color: var(--malr-black) !important;
}
#headerSmall,
#top-search-bar #topSearchText, #top-search-bar-pc #topSearchTextPc,
#top-search-bar .form-select-outer, #top-search-bar-pc .form-select-outer,
#top_anime_container>article,
article>.widget,
#scrollTopX>span,
.widget-slide .link .title,
#footer-block,
.page-common select,
.page-common .inputtext,
.page-common .textarea,
.page-common .header-list .header-list-dropdown, 
.page-common .header-notification-dropdown, 
.page-common .header-profile .header-profile-dropdown,
.page-common #nav ul,
.page-common .footer-ranking,
#header-menu .header-notification-button.has-unread:after,
/* .profile .user-statistics-stats>div, */
.user-button .btn-profile-submit:hover,
.profile .user-favorites li:hover,
.profile .comment-form .textarea,
.page-common .btn-form-submit:hover,
div.comment,
.profile .user-profile-about,
.user-profile .user-compatability-graph .bar-outer,
.pagination .link.current,
.page-common .picSurround img,
.majorPad .friendHolder:hover,
.majorPad .friendHolder.bgLightBlue:hover,
.about-content.content-bg-grey,
.ad_section_user, .ad_section_contact,
.ad-spec-sample-button-cell.on, .ad-spec-sample-button-cell:hover,
.page-forum .forum_category,
.forum_topic_message .forum_boardrow2,
.btn-rect-grey1:hover,
.MAL_InfeedNative_Forum_container,
.page-common .inputButton:hover,
.about-membership .plan-header,
.about-membership .about-no-ads,
.manga-store-error-404_description,
.video-list-outer-vertical,
.video-block .video-list-outer,
.video-menu-category .btn-category,
.search_all .content-right .list:hover, li.forum-post:hover, li.news:hover,
body.news .menu-category,
.featured-search-side,
.featured-search-input-submit,
.news-container .information,
.news-list>.comment-list,
.featured-pickup-unit,
#peopleListPage .people-search-form-search, .anime-search-form-search, .quickadd-form-search, .characters-search-form-search,
.people-favorites-ranking-table .ranking-list:hover, .top-ranking-table .ranking-list:hover, .characters-favorites-ranking-table .ranking-list:hover,
.incrementalSearchResultList .list.list-bottom,
.club-search-form-search .js-advancedsearch,
.club-list .btn-club-join,
#clubsMainTable>tbody>tr>td:last-child,
#clubsPage [id^=comment],
.page-common #forumTopics tbody>tr:hover,
.page-common .codetext,
.seasonal-anime .information,
.seasonal-anime .genre,
.anime-filter .search-filter-sort-order-block,
.season .seasonal-sort-order-block,
.page-common .hoverinfo,
#fancybox-inner,
.navi-seasonal,
.btn-detail-recommendations-view-all,
.episode_list .episode-list-header,
.tabs_nav > span.active,
.settings-notification .header,
.goodresult,
.message-container,
.new-theme-unit,
#animePage .episode-character-edit .table-header,
.quickAdd-anime-result-unit:hover, .quickAdd-manga-result-unit:hover{
    background-color: var(--malr-bg2) !important;
}
/* .page-common #menu, */
.header-notification-view-all a,
.ad_form_content .inputtext,
.ad_form_content .ad_select,
.ad_form_content .inputtextarea,
.forum_topic_message .forum_boardrow1,
.mal-ad-unit,
.news-list .comment-list .information,
.page-common .bgColor1,
.forum .forum-board:nth-of-type(even),
.club-search-form-search .form-select-outer>select,
#forumTopics tbody>tr:nth-child(even),
.page-common .hovertitle,
.borderDark .textReadability,
#profileTabs.recommendations #horiznav_nav+div>.spaceit.borderClass>table, 
#recommendationsPage .spaceit.borderClass>table,
.profile .user-statistics .stats-graph,
.setting-row.locate-right,
.page-common .draggable_list li:hover{
    background-color: var(--malr-bg1) !important;
}
#UsersMainTable .borderClass,
#clubsMainTable .normal_header+table,
.clubMembers #content td, .clubPictures #content td,
#forumTopics tbody>tr,
.anime-manga-search .genre-list,
.seasonal-anime-list .seasonal-anime,
.page-common .borderDark,
#profileTabs.recommendations #horiznav_nav+div>.spaceit.borderClass, 
#recommendationsPage .spaceit.borderClass,
#MainTable>tbody>tr>td:first-child,
.anime-detail-header-stats,
.anime_detail_related_anime,
.page-common #horiznav_nav ul li,
.episode_list .episode-list-data:nth-of-type(odd),
#editprofilePage table,
#editprofilePage .info-container,
.quickAdd-anime-result-unit, .quickAdd-manga-result-unit{
    background-color: var(--malr-bg1-dark) !important;
}
#new_widget_wrapper .sliderList>*{
    background-color: var(--malr-bg1-light) !important;
}
#malr_menu_btn,
.user_widget>article>.widget,
.button_edit.completed,
.button_add.completed,
.header-notification-view-all a:hover,
.header-notification-dropdown .header-notification-item:hover,
.header-menu-dropdown a:hover,
.profile .user-favorites li,
.user-profile-about input.button:hover,
.majorPad .friendHolder.bgLightBlue,
.pagination .link,
.btn-rect-grey1,
.MAL_InfeedNative_Forum_sponsor_tag,
#dialog,
.about-membership .plan,
.search_all .content-right article, ul.forum-side-list, ul.news-list,
.featured-search-input-text,
#top-search-bar #topSearchResultList, #top-search-bar-pc #topSearchResultListPc,
.page-common .incrementalSearchResultList,
.forum_boardrow1,
.incrementalSearchResultList .list,
.page-common .bgColor2,
.clubMembers #content td:hover, .clubPictures #content td:hover,
.anime-manga-search .genre-list:hover,
.navi-seasonal .btn-type,
.user-status-block > *,
.js-favorite-button:hover,
.amazon-ads,
.mal-ad-unit .trc_related_container,
.table-recently-updated tr:hover,
.tabs_nav > span:hover,
#malr_tab_about > .user-status,
#malr_tab_about > section,
.setting-row.show-hidden,
.sns-setting tr:nth-of-type(odd) td,
#sharedPage #content>table tr:hover,
.page-common .js-categories-seasonal tr:hover,
.edit-roll-list-block,
.js-episode-character-pulldown > li,
#header-menu .header-profile.js-header-menu-unit,
.page-common .quickAdd-result-header{
    background-color: var(--malr-bg3) !important;
}
#topSearchButon,
.btn-mal-service,
.icon-top-ranking-page .prev, .icon-top-ranking-page .next,
.pagination .link-blue-box,
.membership-payment .text-payment-notice{
    background-color: var(--malr-bg4) !important;
}
#nav>li>a:hover,#nav>li.hover>a,
.page-common #nav ul a:hover{
    background-color: var(--malr-bg5) !important;
}
.user-button .btn-profile-submit,
.page-common .btn-form-submit,
.user-profile-about input.button,
.btn-blue-rect,
.page-common .inputButton,
.page-forum .btn-forum:hover,
.navi-seasonal .horiznav_nav a.on,
.navi-seasonal .btn-type.on,
.navi-seasonal .btn-type:hover,
#toggleSectionBtn,
.seasonal-anime-list .anime-header{
    background-color: var(--malr-bg6) !important;
}
.majorPad .friendHolder,
#staffPage #content>table td,
.people-favorites-ranking-table .table-header td, .top-ranking-table .table-header td, .characters-favorites-ranking-table .table-header td,
.people-favorites-ranking-table td.rank, .top-ranking-table td.rank, .characters-favorites-ranking-table td.rank,
.js-advancedsearch .inputButton:hover,
.page-common .forum-topic-sort,
#addtolist table .inputtext,
.episode_list .episode-list-data:hover,
.header-notification-item.new{
    background-color: var(--malr-bg7) !important;
}
/* anime user btns */
.btn-anime-watch-status.reading, 
.btn-anime-watch-status.watching{
    background-color: var(--malr-list-watching) !important;
}
.btn-anime-watch-status.notinmylist{
    background-color: var(--malr-list-notinlist) !important;
}
.btn-anime-watch-status.completed{
    background-color: var(--malr-list-completed) !important;
}
.btn-anime-watch-status.plantoread, 
.btn-anime-watch-status.plantowatch{
    background-color: var(--malr-list-planto) !important;
}
.btn-anime-watch-status.on-hold{
    background-color: var(--malr-list-onhold) !important;
}
.btn-anime-watch-status.dropped {
    background-color: var(--malr-list-dropped) !important;
}

.page-common .quotetext,
.ad-spec-sample-button-cell,
.news .menu-category .btn-edit-tags,
.menu-category .btn-category,
.news-container .news-info-block,
.news-container .tags .tag,
.forum .forum-header,
.seasonal-anime .prodsrc,
.seasonal-anime .genres,
.navi-seasonal .horiznav_nav a,
.page-common .button_form,
#addtolist table,
.message.read > .mym,
#content .anime-detail-header-video,
.episode_list .episode-list-data td,
.table-recently-updated td,
.settings-notification td,
#new-style .info,
.payment label,
.episode-edit-character tr, .episode-character-edit tr{
    background-color: var(--malr-transparent) !important;
}

/* borders */
/* ------- */
#scrollTopX>span,
.page-common .header-notification-item,
.user-favorites .image,
.ad-spec-sample-list,
.ad-spec-sample-button-cell,
.news-content-block .news-unit,
.anime-filter .search-filter-sort-order-block,
#malr_tab_about .user-friends>a,
.js-episode-character-pulldown, .js-episode-character-pulldown > li{
    border-color: var(--malr-border-black) !important;
}
.news-unit, .widget-content .item,
.widget-slide .btn-anime img,
.widget-content .auto-recommendations .item,
.widget.recommendations .borderClass,
.user-profile h4,
.profile .user-profile-about,
.user-profile .user-compatability-graph .bar-outer,
.majorPad .friendHolder,
.ad-spec-sample-button-cell,
.forum_boardrow1,
.forum_topic_message .forum_boardrow1,
.btn-rect-grey1,
.MAL_InfeedNative_Forum_container,
.about-membership .plan-header,
.about-membership .about-no-ads,
.about-membership .plan,
.search_all .content-right article, ul.forum-side-list, ul.news-list,
.search_all .content-right .list, li.forum-post, li.news,
.featured-search-side,
.news-container iframe.youtube,
.people-favorites-ranking-table, .people-favorites-ranking-table td, 
.people-favorites-ranking-table tr, .top-ranking-table, 
.top-ranking-table td, .top-ranking-table tr, .characters-favorites-ranking-table,
.characters-favorites-ranking-table td, .characters-favorites-ranking-table tr,
.page-common table td.borderClass,
#advancedSearch .space_table td,
.detail-characters-list>*,
.detail-characters-list>div>table,
#addtolist table,
.amzn-native-product,
.episode_list td,
.episode_list .episode-list-header td,
.news-list .image-link,
.settings-notification td,
#sharedPage #content>table td,
.forum .forum-search-side *,
.message > .mym,
.staff-bio-unit{
    border-color: var(--malr-border-br2) !important;
}
article>.widget,
.user_widget>article>.widget,
.user-statistics-stats h5,
.page-common select,
.page-common .inputtext{
    border-color: var(--malr-border-br1) !important;
}
#UsersMainTable .borderClass,
#clubsMainTable .normal_header+table,
.clubMembers #content td, .clubPictures #content td,
#forumTopics,
.seasonal-anime-list .seasonal-anime,
.page-common .borderDark,
#profileTabs.recommendations #horiznav_nav+div>.spaceit.borderClass, 
#recommendationsPage .spaceit.borderClass,
.profile .user-favorites li{
    border-color: var(--malr-border-br3) !important;
}
.forum-topics tbody>tr,
.profile .comment-form .textarea,
.comment .image img,
.ad_form_content .inputtext,
.ad_form_content .ad_select,
.ad_form_content .inputtextarea,
.news .menu-category .btn-category,
#top-search-bar #topSearchResultList, #top-search-bar-pc #topSearchResultListPc,
.page-common .incrementalSearchResultList,
.page-common .codetext,
.season .seasonal-sort-order-block,
.user-status-block>div, .user-status-block>select,
.page-common .textarea,
.sns-setting, .sns-setting .table td{
    border-color: var(--malr-border-br4) !important;
}
.user-favorites h5,
.page-common #horiznav_nav,
.page-forum .sig,
.manga-store-error-404_description,
.menu-category .btn-category:hover,
.news-breadcrumbs,
.featured-content-block-outer,
.sns-setting .sns-setting-default{
    border-color: var(--malr-border-br5) !important;
}
.page-common .quotetext,
.new-theme-unit,
#animePage .edit-roll-list-block{
    border-color: var(--malr-border-br6) !important;
}

/* text */
/* ---- */
body,
.page-common select,
.page-common .inputtext,
#side_user_bar>span,
#top_anime_btn:after, .malr-expand-btn:after,
.video-block .outside-region-block:after,
.profile .comment-form .textarea,
.btn-truncate:after,
.page-common .btn-form-submit.small,
.page-rwd.page-support #myanimelist #content p, 
.page-rwd.page-support #myanimelist #content li,
.ad_form_content .inputtext,
.ad_form_content .ad_select,
.ad_form_content .inputtextarea,
.manga-store-error-404_description,
.video-block .video-list.episode a,
.news-list .comment-list .text, .news-list .news-unit .text,
.featured-search-input-text,
.club-search-form-search .select option,
.video-block .video-list .title,
.total_messages,
#malr_themes>div,
.blog_detail_content_wrapper,
.featured-article-body h3, .featured-article-body h4, .featured-article-body h5, .featured-article-body h6,
.newLayout .icon-user-function:after{
    /* default white */
    color: var(--malr-text-default);
}
.top-ranking-table .score .text,
.btn-anime-watch-status.dropped,
.btn-anime-watch-status.on-hold,
.btn-anime-watch-status.plantoread, 
.btn-anime-watch-status.plantowatch,
.btn-anime-watch-status.completed,
.btn-anime-watch-status.notinmylist,
.navi-seasonal .btn-type,
.navi-seasonal .horiznav_nav a.on,
.anime-detail-header-stats .stats-block .score,
.user-status-block > *,
.page-common .textarea,
.page-forum .forum_category,
.membership-payment .data,
.staff-text,
.page-blog-detail #content,
.quickadd-form-search .inputtext{
    /* default with ! */
    color: var(--malr-text-default) !important;
}
#widget-seasonal-video .title,
.widget-slide .external-link a,
.auto-recommendations .item .title,
#side_user_bar>span:before,
.header-list-dropdown li a, 
.header-profile-dropdown li a,
.mark-all,
.page-common .h1,
.page-common #horiznav_nav a,
.page-rwd.page-support h3,
.page-rwd.page-support h4,
.ad_form_content label,
.ad-spec-sample-button-cell,
.about-membership .text,
.about-membership .description,
.manga-store-error-404_message,
.video-menu-category .btn-category,
.news-container .title,
.news-container .title a,
.news-container .content,
.featured-pickup-unit .title,
.featured-article-body h1,
.featured-article-body p,
.featured-article-body dl, 
.featured-article-body dt, 
.featured-article-body dd, 
.featured-article-body ol, 
.featured-article-body ul, 
.featured-article-body li,
.people-favorites-ranking-table .birthday,
.people-favorites-ranking-table .table-header td,
.top-ranking-table .table-header td,
.characters-favorites-ranking-table .table-header td,
.incrementalSearchResultList .name, .incrementalSearchResultListPc .name,
.forum .forum-board,
.club-list .informantion,
.space_table td,
.seasonal-anime .synopsis,
.seasonal-anime .information span,
.anime-search-form-search .inputButton,
.anime-detail-header-stats .stats-block .numbers,
.amzn-native-header-text,
.trc_rbox_header_span,
.news-unit-right .text,
.episode_list td,
.tabs_nav > span,
.settings-notification .title,
#new-style .info,
.payment label,
.forum .forum-search-side *,
#malr_menu,
#sectionSettings,
.pmessage-message-history td,
.page-common .border_solid{
    /* default darker */
    color: var(--malr-text-default2) !important;
}
.page-common .fn-grey6,
.featured-pickup-unit .text,
#anistats .information,
.news-container .summary,
.people-favorites-ranking-table .pepole-rank-text, 
.top-ranking-table .top-anime-rank-text,
.characters-favorites-ranking-table .pepole-rank-text,
.incrementalSearchResultList .extra-info, .incrementalSearchResultListPc .extra-info,
.anime-filter .btn-show-sort,
.video-providers,
.settings-notification .text,
#mymessagesPage .mym_date, #mymessagesPage .text,
.quickAdd-anime-result-unit, .quickAdd-manga-result-unit{
    /* gray text */
    color: var(--malr-text-muted) !important;
}
.page-common .dark_text,
.page-forum .forum_postusername a,
.anime-detail-header-stats .stats-block .score:after,
.search_all .users{
    /* gray text 2 */
    color: var(--malr-text-muted2) !important;
}
.page-common a, .page-common a:visited{
    /* link color */
    color: var(--malr-text-link);
}
.page-common h2,
.widget .widget-header,
.widget .index_h2_seo a,
.header-notification-item-header .category,
#horiznav_nav li a:hover, .page-common #horiznav_nav li .horiznav_active,
.ad-text-head3,
h1.forum_locheader,
.page-common .normal_header,
.forum_category *,
.about-membership .plan-name,
.about-membership .header,
.video-menu-category .btn-category.on,
.news-info-block .comment, li.news .comment,
#forumPage .container-right .header, .news-content-block .content-right .header,
.featured-article-body h5,
.featured-article-body h3,
.people-favorites-ranking-table .favorites,
.characters-favorites-ranking-table .favorites,
.incrementalSearchResultList .list.separator, .incrementalSearchResultListPc .separator,
.forum .forum-header,
.forum-side-block .comment,
.seasonal-anime .prodsrc span,
.top-ranking-table .your-score .text,
.page-common .hovertitle,
.page-common .hoverinfo:after,
.navi-seasonal .horiznav_nav a,
.episode_list .episode-list-header td,
.featured-article-body h6,
.tabs_nav > span.active,
.slide-block-x  > .actions > .inline,
.membership-payment .title{
    /* special headings */
    color: var(--malr-text-special) !important;
}
#nav li a,
#header-menu .fa,
.ad-spec-sample-button-cell.on,
.message a,
#side_user_bar>span:hover{
    color: var(--malr-text-link2) !important;
}
.page-common a:hover,
.page-common #nav ul a:hover,
.js-advancedsearch .inputButton:hover{
    color: var(--malr-text-link-hover) !important;
}

/* extras */
::-webkit-scrollbar-thumb{
    background: var(--malr-scroll-thumb-bg);
    border: solid 4px var(--malr-scroll-thumb-br);
}
::-webkit-scrollbar-track{
    background-color: var(--malr-scroll-track-bg);
}
#top_anime_btn,
.malr-expand-btn,
.btn-truncate,
.video-block .outside-region-block{
    background: linear-gradient(180deg,var(--malr-transparent),var(--malr-bg1)) !important;
}
.button_add.plantowatch, .button_edit.plantowatch{
    background-color: var(--malr-ptw-btn) !important;
}
.page-common #nav ul{
    border: solid 4px var(--malr-nav-br);
}
.header-menu-dropdown, 
.header-notification-dropdown,
#malr_menu, #malr_themes,
#fcDrop{
    box-shadow: var(--malr-menu-shadow) 0px 0px 5px 2px !important;
}
#headerSmall>.link-mal-logo{
    filter: var(--malr-header-logo);
}
#headerSmall .banner-header-anime-straming{
    filter: saturate(0.5) contrast(1.3);
}
.ranking-digest .ranking-unit .image{
    box-shadow: 0 0 0 2px var(--malr-black);
}
/* .profile .user-favorites li{
    box-shadow: none;
} */
.user-profile .user-friends .icon-friend,
.seasonal-anime-list .seasonal-anime{
    box-shadow: none !important;
}
.profile .user-profile-about{
    filter: opacity(0.9);
}
.majorPad .friendHolder,
.forum_topic_message .forum_boardrow2,
.news-container .information{
    box-shadow: none !important;
    border: 0px;
}
.page-advertising #ad_menu.fixed:after{
    display: none;
}
#staffPage #content>table td{
    box-shadow: 0 4px 8px var(--malr-staff-card-shadow);
}
.about-membership .description{
    text-shadow: none !important;
}
.video-list-outer-vertical.is_blocked img {
    filter: invert(0.94);
}
.video-block .info-container{
    background: linear-gradient(0deg,var(--malr-bg2),rgba(var(--malr-bg2-rgb),0.89),transparent)!important;
}
#featuredPage .content-right iframe,
.video-block .video-list .thumbs{
    opacity: 0.5;
}
#featuredPage .content-right iframe:hover{
    opacity: 1;
}
.people-favorites-ranking-table .ranking-list:hover .pepole-rank-text, 
.top-ranking-table .ranking-list:hover .top-anime-rank-text,
.characters-favorites-ranking-table .ranking-list:hover .pepole-rank-text{
    color: var(--malr-toplist-text-hover) !important;
    text-shadow: 0px 0px 10px var(--malr-text-link2);
}
.forum .forum-header+div{
    background-color: var(--malr-bg1-darker) !important;
}
.forum .forum-header{
    padding: 10px 0 !important;
    font-weight: bold;
}
.seasonal-anime .btn-more-genre,
.seasonal-anime .score:after,
.seasonal-anime .member:after{
    filter: var(--malr-seasonal-after,invert(1));
}
.forum_topic_message .quotetext{
    transition: none;
    border-color: transparent !important;
    border-left-color: var(--malr-forum-br-left) !important;
}
.forum_topic_message:hover .quotetext {
    background-color: rgba(var(--malr-bg2-rgb), 0.2)!important;
    border-left-color: var(--malr-forum-br-left-hover) !important;
}
.btn-anime-watch-status:hover{
    filter: brightness(1.5) saturate(1.5);
}
.page-common .hoverinfo{
    box-shadow: 0 0px 6px 3px var(--malr-menu-shadow);
}
.seasonal-anime .title > a {
    filter: var(--malr-seasonal-after,invert(1)) contrast(1.3);
}
#malr_tab_about .user-friends:after{
    background: linear-gradient(270deg,var(--malr-bg3),transparent);
}
.notification_settings input[type=checkbox]:checked+label{
    background-color: var(--malr-bg2) !important;
}
.episode-edit-character tr, .episode-character-edit tr{
    border: solid 1px var(--malr-bg2);
}