body{
    background-color: whitesmoke !important;
}
#myanimelist{
    margin-top: 140px;
}
#content{
    padding: 5px 0 !important;
}
#content, #contentWrapper{
    background-color: transparent !important;
    border: none !important;
}
#content .left-column, #content .right-column{
    padding-top: 0 !important;
    border: none;
}

/* ad blocks */
.mal-ad-unit {
    background: #eaeaea;
    position: relative;
    overflow: hidden;
}
.mal-side-ad .mal-ad-unit {
    background: none !important;
}
.mal-ad-unit:after {
    content: "Ad Block";
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    color: #b1b1b1;
}
.mal-side-ad .mal-ad-unit:after{
    display: none;
}
.mal-ad-unit .pda_top{
    margin-bottom: 20px;
}
.mal-ad-unit .pda_top img{
    width: 100%;
    height: auto;
}
.mal-side-ad{
    top: 0 !important;
}
.mal-side-ad--l{
    margin-right: 20px;
}
.mal-side-ad--r{
    margin-left: 20px;
}
.mal-ad-unit .trc_related_container{
    padding: 15px 10px;
}
.news-content-block .content-right .mal-ad-unit,
td .mal-ad-unit:first-child{
    display: none !important;
    background-color: yellow !important;
}
.amazon-ads {
    padding: 20px;
    background: #eaeaea;
    margin: 20px 0;
}
.amzn-native-header-text{
    border: none !important;
}
.amazon-ads * {
    border-color: #cccccc !important;
    background-color: transparent !important;
}

/* headersmall */
#homePage .header-right{
    background: #516aa4;
    padding: 10px;
    color: white !important;
}
#headerSmall {
    position: fixed !important;
    height: auto !important;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    padding: 12px 20px !important;
    background-position: 20px 50% !important; 
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#headerSmall.onscroll{
    transform: translate(-50%,-100%);
}
#headerSmall > * {
    position: relative !important;
    width: auto !important;
    right: auto !important;
    left: auto !important;
    top: auto !important;
    bottom: auto !important;
    margin: 0 !important;
}
#headerSmall > .link-mal-logo {
    width: 190px !important;
}
#headerSmall > #header-menu{
    order: 2;
    margin-right: 60px !important;
    display: flex;
    align-items: center;
}
#header-menu .header-profile-button {
    box-shadow: none !important;
    border-radius: 50px !important;
    background-color: whitesmoke !important;
    border: solid 3px #516aa4;
    width: 30px !important;
    height: 30px !important;
}
.halloween .header-profile-button{
    border-color: #181818 !important;
}
#header-menu .header-profile{
    height: auto !important;
}
#header-menu .header-profile:hover{
    background-color: transparent !important;
}
#header-menu .header-profile:hover a{
    color: #2f52a2 !important;
}
#headerSmall > .banner-header-anime-straming{
    order: 3;
    position: absolute !important;
    right: 0px !important;
    width: 65px !important;
    height: 100% !important;
    overflow: hidden;
    filter: saturate(1.1);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url("https://dl.dropbox.com/s/uyqx9v1ctg29hrl/donate.png?dl=0");
}
#headerSmall > .banner-header-anime-straming > *{
    opacity: 0;
}

/* page menu */
.js-menu.js-overlay {
    display: none !important;
}
.page-common #menu{
    background-color: #516aa4 !important;
    display: flex;
    position: fixed;
    top: 60px;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 90;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px calc((100% - 1060px)/2);
    box-sizing: border-box;
    height: auto !important;
    transition: 0.3s transform ease;
}
#menu.onscroll{
    transform: translate(-50%,-60px);
}
.season #menu.onscroll {
    transform: translate(-50%,-125px);
}
.page-common #nav ul{
    padding: 10px;
    background-color: #516aa4 !important;
}
.page-common #nav ul a{
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
}
.page-common #nav ul a:hover,
.page-common #menu.halloween #nav li a:hover{
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
}
    /* nav halloween */
.page-common #menu.halloween,
.page-common #menu.halloween #nav ul{
    background-color: #181818 !important;
}
.page-common #menu.halloween #menu_left,
.page-common #menu.halloween #nav li a{
    background-color: transparent !important;
}
/* search bar */
#top-search-bar {
    height: inherit !important;
    position: relative;
}
#top-search-bar *{
    box-sizing: border-box;
    border: none !important;
}
#searchBar{
    height: inherit !important;
    padding: 0px !important;
    display: flex !important;
    align-items: center;
}
#topSearchButon {
    width: 35px !important;
}
#topSearchText{
    padding: 5px !important;
}
#searchBar .form-select-outer{
    width: auto !important;
}
select#topSearchValue {
    height: 100% !important;
    background-position: 90% 15px !important;
    border-right: solid 3px #516aa4 !important;
}
form#searchBar > * {
    height: 100% !important;
    border-radius: 0 !important;
}
#topSearchButon{
    color: #c3c3c3 !important;
    background-color: white !important;
}
#topSearchButon.notActive{
    color: #333 !important;
}

/* widget general */
article > .widget {
    padding: 15px 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    background: white;
    border-radius: 3px;
}
.widget #widget-manga-store{
    display: block !important;
}
.widget-header {
    border: none !important;
    padding: 10px 0 10px 0 !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
}
/* widget specifics */
#widget-episode-video{
    width: 100% !important;
}
.widget > .ranking-digest{
    background-color: transparent !important;
}
.ranking-digest .ranking-header{
    background-color: #ddeaff !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 2px;
}
.ranking-digest .ranking-unit,
.news-list .news-unit{
    box-sizing: border-box;
    width: 100% !important;
}
.widget-content li.btn-anime{
    border: none !important;
    margin-right: 15px !important;
}
.widget.recommendations .borderClass{
    border-bottom: solid 1px #f8f8f8 !important;
}

/* main heading */
.page-common .h1 {
    background-color: transparent !important;
    font-size: 2em;
    color: #222;
    border: none;
    margin: 20px 0 20px;
    padding: 5px 0 !important;
}

/* anime page */
.h1 .title-english{
    margin-top: 5px;    
}
#MainTable > tbody > tr,
#UsersMainTable > tbody > tr{
    display: flex;
    align-items: flex-start;
}
#MainTable > tbody > tr > td:first-child{
    margin-right: 25px !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 280px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none !important;
    padding: 15px !important;
    box-sizing: border-box;
    background-color: white;
}
#animePage.animeTabs #MainTable > tbody > tr > td:first-child{
    /* width: auto !important; */
    max-width: 225px !important;
    box-sizing: initial;
}
#profileTabs #MainTable > tbody > tr > td:first-child{
    background-color: transparent !important;
    max-width: 224px;
    padding: 0 !important;
    margin-right: 30px !important;
}
#MainTable > tbody > tr > td:last-child{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: teal; */
    padding: 0 !important;
}
#MainTable > tbody > tr > td:first-child > div{
    width: inherit !important;
}
#MainTable > tbody > tr > td:first-child > div:first-child img{
    width: 100%;
    max-width: none;
}
#content td > .border_top,
#content td.pb24 > br,
.detail-characters-list + div,
.detail-characters-list + div + div,
.page-forum + div,
.detail-page-featured-article ~ [style^="padding"]{
    display: none !important;
}

 /* Users page */
 #UsersMainTable .normal_header{
    margin-top: 10px !important;
 }
 #UsersMainTable > tbody > tr > td{
     flex-grow: 1;
     box-sizing: border-box;
     padding: 0 !important;
 }
 #UsersMainTable>tbody>tr>td:first-child tr{
     display: flex;
     margin: 0 -10px;
 }
 #UsersMainTable .borderClass {
    background: #ffffff;
    margin: 10px;
    padding: 15px !important;
    flex-grow: 1;
    border-radius: 5px;
    border: solid 4px #fff!important;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    transition: transform 0.2s ease;
}
 #UsersMainTable > tbody > tr > td:last-child{
     padding: 15px !important;
     margin-top: 28px;
     margin-left: 20px !important;
 }
 #users-advancedsearch input{
     padding: 4px 8px;
     box-sizing: border-box;
 }
 #users-advancedsearch .js-submit{
     margin-top: 8px;
 }

 /* clubs page */
 #clubsMainTable, #clubsMainTable > tbody{
     display: block;
     width: 100%;
 }
 #clubsMainTable > tbody > tr{
     display: flex;
     flex-flow: row-reverse;
     align-items: flex-start;
 }
 #clubsMainTable > tbody > tr > td:first-child{
     width: calc(100% - 300px) !important;
     padding: 0 0 0 30px !important;
     box-sizing: border-box;
     flex-grow: 1;
 }
 #clubsMainTable > tbody > tr > td:last-child{
    width: 300px;
    padding: 15px !important;
    box-sizing: border-box;
    background-color: white;
    flex-grow: 1;
 }
 #clubsMainTable > tbody > tr > td:last-child > *{
     width: 100% !important;
     padding: 0 !important;
 }
 #clubsMainTable > tbody > tr > td:first-child > div{
     margin: 0 auto;
     padding: 0;
 }
 #clubsMainTable img{
     max-width: 100% !important;
 }
 #clubsMainTable .normal_header{
     margin-top: 10px !important;
 }
 #clubsMainTable .club-information-header{
     margin-top: 0 !important;
     font-size: 2em !important;
 }
 #clubsPage [id^="comment"]{
     background-color: white !important;
     padding: 15px;
 }
 #clubsMainTable .normal_header + table {
    padding: 15px 0;
    border: solid 4px white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
 }
 #clubsMainTable .normal_header + div{
     width: auto !important;
 }
 .clubPictures #content tr,
 .clubMembers #content tr{
    display: flex !important;
 }
 .clubPictures #content td,
 .clubMembers #content td{
    padding: 15px !important;
    box-sizing: border-box;
    margin: 0 15px 20px 0 !important;
    display: inline-block;
    flex-grow: 1;
    border-radius: 5px;
    border: solid 4px white !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: all 0.2s ease;
 }
 .clubMembers #content td{
     font-size: 1.2em;
 } 

/* horizontal-nav */
.page-common #horiznav_nav{
    border: none !important;
    border-bottom: solid #e7e7e7 2px !important;
    margin: 5px 0 20px 0 !important;
    padding: 0 0 10px !important;
}
.page-common #horiznav_nav ul{
    display: flex !important;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.page-common #horiznav_nav ul li{
    background: none !important;
    margin-bottom: 8px !important;
    display: inline-block;
    padding: 10px 12px;
    margin: 0 5px 5px 0 !important;
    background: #eaeaea !important;
}
.page-common #horiznav_nav li a{
    padding: 0 !important;
    font-weight: 900 !important;
    background-color: transparent !important;
}
.page-common #horiznav_nav li .horiznav_active,
#horiznav_nav li a:hover{
    background-color: #516aa400 !important;
    color: #eb6100 !important;
    font-weight: bold;
}
.reviews-horiznav-nav-sort-block{
    border-color: transparent !important;
}

/* anime detail header */
.anime-detail-header-stats{
    background-color: #eaeaea !important;
    border: none !important;
    padding: 15px !important;
    border-radius: 5px;
}
.anime-detail-header-stats .stats-block,
.anime-detail-header-stats .user-status-block{
    background: none !important;
    border: none !important;
}
.user-status-block > select,
.user-status-block > div{
    border-radius: 0 !important;
    border: solid 2px #ffffff !important;
}
#addtolist * {
    border-radius: 0px;
}
#addtolist select{
    width: 100%;
}
#content .anime-detail-header-video{
    float: right;
    margin: 30px 0 15px;
    padding-left: 25px !important;
    background: whitesmoke;
    display: none !important;
}
#content .anime-detail-header-video.repositioned{
    display: block !important;
}

/* anime slide block */
.anime-slide-block{
    width: inherit !important;
}
.anime-slide-block .anime-slide-outer{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
}
    /* recommendations */
#anime_recommendation, #manga_recommendation{
    min-height: 140px;
    width: inherit !important;
    margin-top: 20px;
}

/* H2 */
.page-common h2,
.page-common .normal_header,
h1.forum_locheader,
.page-common .border_solid{
    font-size: 15px !important;
    color: #333 !important;
    line-height: initial !important;
    border-bottom: solid 0px #e4e4e4 !important;
    padding-bottom: 8px !important;
    margin: 30px 0 8px !important;
}

/* border class */
.page-common .borderClass {
    border: none !important;
    margin-bottom: 10px !important;
    padding-bottom: 8px !important;
}

/* related anime box */
table.anime_detail_related_anime{
    display: block !important;
    background: #ffffff;
    padding: 12px;
}

/* character list */
.detail-characters-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.detail-characters-list .left-column.divider:after,
.detail-characters-list:after{
    display: none !important;
}
.detail-characters-list > *{
    flex-grow: 1;
    width: auto !important;
    min-width: 350px;
    border: solid 3px white !important;
    margin: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.05);
}
.detail-characters-list > * > table {
    padding: 8px;
    border-bottom: solid 3px #eaeaea;
}
.detail-characters-list > * > table:last-child{
    border-bottom: none;
}
.detail-characters-list small{
    font-size: 0.95em;
}

/* common image surround */
.page-common .picSurround img{
    border: none !important;
    background-color: white !important;
    padding: 3px !important;
}

/* add to list in side column */
#addtolist table {
    border-spacing: 0 6px;
    border: solid #d9d9d9 1px;
    padding: 5px 10px !important;
    border-radius: 3px;
    background: whitesmoke;
    margin-top: 10px;
}
#addtolist .inputtext{
    padding: 5px;
}

/* favorites */
.js-favorite-button {
    background: #ffffff !important;
    color: #ff2c55 !important;
    font-size: 1.3em;
    padding: 8px 10px !important;
    border: solid 1px #ff2c55 !important;
    text-align: center;
    border-radius: 3px;
}
.js-favorite-button:after {
    content: "\2764";
    font-weight: bold;
    padding: 0 8px;
    color: #ff2c55;
}
a.left-info-block-manga-store-button{
    border-radius: 2px !important;
    padding: 8px 10px !important;
    width: auto !important;
}

/* reviews */
.page-common .borderDark{
    padding: 15px !important;
    margin-bottom: 30px;
    border: none !important;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.05);
    border-radius: 4px;
}
.borderDark .textReadability {
    padding: 20px 15px !important;
    font-size: 1.1em;
    background: whitesmoke;
    margin-bottom: 10px;
    border-top: solid 15px #ffffff !important;
}

/* comments */
div.comment {
    display: flex;
    align-items: flex-start;
    background: white !important;
    margin-bottom: 20px;
    padding: 15px !important;
}
div.comment a{
    word-break: break-word;
}
.comment > .image {
    max-width: 60px;
    min-width: 60px;
    position: sticky;
    top: 65px;
    margin: 0 !important;
}
.comment > .image img {
    width: 100%;
    height: auto !important;
}
.comment > .text {
    display: block !important;
    width: auto !important;
    flex-grow: 1;
    margin-left: 20px;
    word-break: break-word;
}

/* footer */
.page-common .footer-ranking{
    background-color:#516aa4 !important;
    padding: 30px 0 15px !important;
}
.page-common .footer-ranking .ranking-container{
    width: 100%;
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
}
.page-common .footer-ranking .ranking-unit{
    padding: 22px !important;
    flex-grow: calc(1/3.5);
    background: #00000026;
    border-radius: 2px;
}
.footer-ranking .ranking-unit *{
    color:white !important;
    font-size: 1.2em;
}
.page-common .footer-ranking .title{
    border-bottom: none !important;
    font-size: 17px !important;
}
#footer-block{
    padding: 30px 0 !important;
    background-color: #516aa4 !important;
}
.footer-fb{
    display: none !important;
}

/* top anime lists */
.top-ranking-table .status{
    position: relative !important;
}
.top-ranking-table .table-header td,
.people-favorites-ranking-table .table-header td{
    padding: 20px 10px !important;
    background-color: #e8e8e8 !important;
    color: #434343;
    font-weight: bold;
    font-size: 1.2em;
}
.top-ranking-table .status .btn-anime-watch-status {
    border-radius: 0 !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.top-ranking-table,
.top-ranking-table tr,
.top-ranking-table td,
.people-favorites-ranking-table,
.people-favorites-ranking-table tr,
.people-favorites-ranking-table td{
    border: solid 3px white !important;
}
.top-ranking-table td,
.people-favorites-ranking-table td{
    background-color: transparent !important;
    display: table-cell;
}
.top-ranking-table td.rank,
.people-favorites-ranking-table td.rank {
    background: #e8e8e8 !important;
}
.top-ranking-table .top-anime-rank-text,
.people-favorites-ranking-table .pepole-rank-text{
    color: #434343 !important;
    font-size: 26px !important;
}
.link-blue-box.next, .link-blue-box.prev{
    padding: 8px !important;
}
.btn-anime-watch-status{
    transition: filter 0.2s ease !important;
    font-size: 1.1em !important;
    font-weight: bold;
}
.btn-anime-watch-status:hover {
    /* filter: brightness(0.9) contrast(1.1) saturate(2); */
    filter: brightness(0.8) contrast(1.5) saturate(2);
}
.btn-anime-watch-status.completed{
    background-color: #d6e2ff !important;
    color: #00000091 !important;
}
.btn-anime-watch-status.notinmylist{
    background-color: white !important;
    color:#b0b0b0 !important;
}
.btn-anime-watch-status.plantowatch,
.btn-anime-watch-status.plantoread{
    background-color: #e8e8e8 !important;
    color: #989898 !important;
}
.btn-anime-watch-status.dropped{
    background-color: #ffdede !important;
}
.btn-anime-watch-status.on-hold{
    background-color: #fff59e !important;
}
.btn-anime-watch-status.watching,
.btn-anime-watch-status.reading{
    background-color: #daffd1 !important;
}
#fancybox-wrap{
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
}
#fancybox-outer{
    box-shadow: 8px 8px 12px #0000001a, -4px -4px 12px #ffffff21;
    border-radius: 3px;
}
#fancybox-inner{
    width: inherit !important;
    height: inherit !important;
    top: 0 !important;
    left: 0 !important;
}
#fancybox-outer .fancy-bg{
    display: none;
}
#fancybox-close {
    background: #f55454;
    border-radius: 0px;
    padding: 5px;
    top: 0 !important;
    right: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#fancybox-close:after {
    content: "\2716";
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

/* profile */
.profile .content-container {
    display: flex !important;
}
.profile .content-container > .container-left {
    width: 250px !important;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    /* margin-right: 30px; */
    border: none !important;
}
.profile .content-container > .container-right {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    width: calc(100% - 250px);
}

/* container left compenenets */
.container-left .user-profile{
    /* width: auto !important; */
}
.user-profile .user-status,
.user-profile .user-profile-sns {
    border: none !important;
    padding-bottom: 0px !important;
    margin: 0 0 30px !important;
}
.user-profile .user-status li {
    background-color: transparent !important;
}
.user-function > * {
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
}
.page-common .user-function {
    display: flex !important;
    justify-content: space-between;
    width: 100% !important;
    margin: 15px 0 !important;
}

/* continer right components */
.profile .container-right > *,
#statistics > h2{
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.profile .container-right img{
    max-width: 100% !important;
}
#statistics{
    margin: 0 !important;
}
#statistics > h2{
    margin-top: 0 !important;
}
#statistics h5{
    padding-bottom: 8px !important;
}
.profile .user-profile-about{
    width: calc(100% - 20px) !important;
    padding: 15px 0;
    background: #ffffff;
    /* color: white; */
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
    margin-bottom: 35px !important;
    border: solid 4px white;
    overflow-x: hidden;
}
.profile .user-profile-about > .profile-about-user{
    width: -moz-max-content !important;
    width: -webkit-max-content !important;
    width: max-content !important;
    max-width: 800px;
    transform: translateX(-50%) scaleX(0.94);
    left: 50%;
    position: relative;
}
.profile .user-profile-about img{
    max-width: 100% !important;
}
.profile .user-statistics-stats {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 0 !important;
}
.profile .user-statistics-stats > * {
    width: auto !important;
    min-width: 350px;
    flex-grow: 1;
    background: white;
    padding: 20px !important;
    box-sizing: border-box;
    margin: 10px 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.profile .user-favorites-outer{
    padding-bottom: 30px !important;
    transition: all 1s ease;
}
.profile .user-favorites {
    width: 100%;
    display: flex !important;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
}
.profile .user-favorites > * {
    display: inline-flex !important;
    flex-direction: column;
    margin-bottom: 30px;
    width: auto !important;
    flex-grow: 1;
}
.profile .user-favorites > * > ul {
    display: flex !important;
    width: auto !important;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -8px !important;
}
.profile .user-favorites li {
    width: auto !important;
    padding: 10px !important;
    box-shadow: 0px 4px 8px #0000001a, 0px -2px 8px #ffffff21;
    border-radius: 5px;
    border: solid white 4px;
    margin: 0 8px 8px 8px !important;
    transition: background-color 0.3s ease;
}
.profile .comment-form .textarea{
    width: 100% !important;
    padding: 15px !important;
    box-sizing: border-box;
    border: solid #eaeaea 4px !important;
    outline: none;
}

/* shared page and search page tables */
#sharedPage #content > table td,
.page-common .js-categories-seasonal td {
    border: solid 2px #e6e6e6 !important;
    background-color: transparent !important;
    padding: 10px;
}
#sharedPage #content > table,
.page-common .js-categories-seasonal > table {
    border-collapse: collapse;
}

/* manga store */
.manga-store .content-detail{
    display: flex;
    border: none !important;
    align-items: flex-start;
}
.manga-store .content-detail-bottom{
    /* border-top: none !important; */
}
.manga-store .content-detail > * {
    border: none !important;
    padding: 0 !important;
}
.manga-store .side-left{
    padding: 15px !important;
    background: white;
    min-width: 250px;
    margin-right: 30px;
}
.manga-store .main-right{
    width: inherit !important;
    overflow: hidden;
}
.manga-store .comics-list{
    margin-bottom: 20px !important;
    border: none !important;
}
.manga-store .detail-infoList li{
    padding: 1px 0 5px !important;
    border-bottom: solid 1px whitesmoke;
}
.manga-store .detail-infoList li:last-child{
    border-bottom: none;
}
.manga-store .detail-preview-container:after{
    display: none !important;
}
.manga-store .copyright{
    border: none !important;
}
.manga-store .view-all{
    border: none !important;
    background-color: #ebebeb;
}

/* staff */
#staffPage #content > table tr{
    display: flex;
    flex-wrap: wrap;
}
#staffPage #content > table td{
    background: white !important;
    margin-bottom: 15px;
    margin-right: 25px;
    display: block;
    border-radius: 5px;
    padding: 18px;
    box-shadow:8px 8px 12px #0000001a, -4px -4px 12px #ffffff21;
    font-size: 1.1em;
}
#staffPage #content .picSurround {
    display: flex;
    justify-content: center;
    height: 140px;
    overflow: hidden;
}
#staffPage #content .picSurround img{
    width: auto;
    max-height: 100%;
    transition: transform 0.3s ease;
}

/* fourms */
.page-forum .btn-forum {
    padding: 8px;
    display: inline-block;
    border: solid 2px #4f74c8;
    background-color: #ffffff00;
    margin-bottom: 10px;
    border-radius: 3px;
}
.page-forum .forum_boardrowspacer{
    display: none !important;
}
.forum_border_around {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}
.page-forum .forum_category {
    background: #ffffff !important;
    padding: 10px !important;
    color: #202020 !important;
    display: inline-block !important;
    min-width: 200px;
    align-self: flex-end;
    margin-bottom: -8px;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 5px 15px #0000001a;
}
.forum_category *{
    color: #202020 !important;
}
.forum-topic-message-wrapper tr{
    display: flex;
}
.forum_topic_message td {
    padding: 35px 15px !important;
    flex-grow: 1;
    box-sizing: border-box;
}
.forum_topic_message .forum_boardrow1{
    background-color: rgb(239 239 239);
    padding-left: 50px !important;
    margin-left: -20px;
    border: solid 5px #e9e9e9 !important;
}
.forum_topic_message .forum_boardrow2{
    min-width: 150px;
    max-width: 150px;
    background: rgb(255 255 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none !important;
    box-shadow: 8px 8px 12px #0000001a, -4px -4px 12px #ffffff21;
    z-index: 1;
}
.forum_topic_message .forum_boardrow2 > div:first-child{
    position: sticky;
    top: 130px;
}
.page-forum .quotetext{
    background-color: transparent !important;
    margin-left: 0 !important;
    padding: 20px !important;
    border-color: transparent;
    border-left-color: #b9b9b9;
    border-left-width: 1px;
    transition: background-color 0.5s ease;
}

/* news // fourm */
.news-content-block,
#forumPage .content-container{
    display: flex !important;
    flex-wrap: wrap;
}
#forumPage .content-container > form {
    width: 100% !important;
}
.news-content-block .content-left,
#forumPage .container-left{
    padding: 0 30px 0 0 !important;
    width: calc(100% - 320px) !important;
    box-sizing: border-box;
    flex-grow: 1;
    border: none !important;
    overflow: hidden;
    /* margin-right: 30px !important; */
}
.news-content-block .content-right,
#forumPage .container-right{
    padding: 0 !important;
    width: 320px !important;
    flex-grow: 1;
    box-sizing: border-box;
    border: none !important;
    padding: 0 0 0 15px !important;
    margin-top: 25px !important;
}
.news-breadcrumbs,
.menu-category{
    width: auto !important;
    padding-bottom: 10px !important; 
}
#featuredPage .news-info-block{
    margin: 20px 0px 15px 0;
}
.news-container .information{
    font-size: 1.2em !important;
    line-height: 2em;
    padding: 10px;
    display: inline-block !important;
    margin: 0 !important;
    border: solid 4px white;
    box-shadow: 4px 4px 8px #0000001a, -2px -2px 8px #ffffff21;
}
ul.news-list,
ul.forum-side-list,
.search_all .content-right article{
    border: solid 4px white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
    border-radius: 4px;
}  
li.news .comment,
.news-info-block .comment {
    display: block !important;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 4px 0 !important;
    background-color: transparent !important;
}
.news-unit,
.widget-content .item {
    padding: 15px 0px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
    border: none !important;
    border-bottom: 1px solid whitesmoke !important;
}
.auto-recommendations .item{
    padding: 0 !important;
    margin-bottom: 0px !important;
    margin-right: 15px !important;
}
.news-content-block .news-unit{
    border-color: white !important;
}
.news-unit-right {
    padding-left: 15px;
}
.news-unit .comment{
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    background: none !important;
}
.news-unit .information *{
    height: auto !important;
    margin-bottom: 0 !important;
}
li.news,
li.forum-post,
.search_all .content-right .list {
    border-width: 0px !important;
    padding: 20px 10px !important;
    margin-bottom: 0px;
    /* background: #eaeaea; */
    border-bottom: solid 3px white !important;
    transition: 0.3s ease background-color;
    box-sizing: border-box;
}
.search_all .content-left .list{
    border-bottom: solid 2px #eaeaea !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}
li.news:last-child,
li.forum-post:last-child,
.search_all .content-right .list:last-child {
    border: none !important;
} 
li.forum-post .information-block{
    width: auto !important;
}
.news-content-block .content-right .header,
#forumPage .container-right .header {
    padding-bottom: 10px !important;
    border-bottom: solid 1px transparent !important;
}
.news-list  > .comment-list{
    max-width: 100%;
    background-color: #ffffff !important;
    margin-bottom: 20px !important;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px 10px !important;
    border: none;
}
.news-list .comment-list .information {
    background: whitesmoke;
    padding: 5px 10px !important;
    margin-top: 10px !important;
    border-radius: 2px !important;
}
.forum .forum-board-list,
.forum .forum-mods-list,
.forum .forum-mods-container{
    width: 100% !important;
}
.forum .forum-header{
    padding: 10px 8px !important;
    background-color: #516aa4 !important;
}
.forum .forum-header + div{
    background: white;
    padding: 15px;
    margin: 0 0;
    border-radius: 3px;
    box-sizing: border-box;
}
.forum .forum-board{
    border: none !important;
    box-sizing: border-box;
}
#forumTopics {
    border: solid 4px #e8e8e8;
}
#forumTopics tbody > tr{
    background-color: transparent !important;
}
#forumTopics tbody > tr:nth-child(even){
    background-color: #e8e8e8 !important;
}
#forumTopics tbody > tr > *,
.forum-topics tbody > tr > *{
    padding: 15px 10px !important;
    border: none !important;
    /* width: auto !important; */
    background-color: transparent !important;
}
.forum-topics tbody > tr{
    border-bottom: solid #e4e4e4 1px;
}
.forum-topics tbody > tr:last-child{
    border:none !important;
}

/* tags */
.tag{
    padding: 4px 10px !important;
    border-radius: 2px !important;
}
.menu-category .btn-category{
    padding: 4px 10px 4px 8px !important;
    background: white;
    border-bottom-width: 2px;
}
body.news .menu-category {
    background: white !important;
    padding: 10px 10px !important;
    border: none !important;
    box-shadow: 1px 4px 8px rgb(81 106 164 / 0.08);
    border-radius: 3px;
}
.news-container .tags{
    background-color: transparent !important;
}
.featured-pickup-unit .tags-pickup-inner{
    height: auto !important;
}

/* featured search bar */
.featured-search-side {
    display: flex !important;
    border: solid white !important;
}
.featured-search-side > * {
    border: none !important;
    border-radius: 0 !important;
}
.featured-search-input-text {
    padding: 5px !important;
    box-sizing: border-box;
    height: 35px !important;
}
.featured-search-input-submit {
    height: auto !important;
}

/* featured articles */
.featured-article-body *{
    max-width: 100% !important;
}
.featured-article-body hr{
    border: none !important;
}

/* videos */
.news-container iframe.youtube{
    width: 100%;
    border: solid 5px #ffffff;
    margin: 10px 0 10px !important;
}
.js-video-list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video-block .video-list-outer{
    margin-bottom: 10px !important;
    margin-right: 8px !important;
    border: solid 1px #e0e0e0 !important;
}
.video-menu-category{
    border: none !important;
}
.video-menu-category .btn-category{
    border-radius: 0 !important;
    padding: 8px 12px !important;
}
.video-list-outer-vertical{
    border: solid 2px #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 15px !important;
}
.video-list-outer-vertical .video-info-title{
    padding: 4px !important;
    width: 100% !important;
    box-sizing: border-box;
}

/* friend list */
.majorPad{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
}
.majorPad .friendHolder{
    flex-grow: 1;
    padding: 10px 5px;
    margin: 0 10px 20px;
    box-shadow: 4px 4px 8px #0000001a, -2px -2px 8px #ffffff21;
    border-radius: 5px;
    border: solid white 4px;
    transition: 0.3s ease background-color;
}
.majorPad .friendBlock{
    height: inherit;
    padding: 0px;
    overflow: hidden;
}
.majorPad .bgLightBlue{
    background-color: white;
}

/* people page & anime search page & clubs page*/
.people-search-form-search .inputtext,
.people-search-form-search .inputButton,
.anime-search-form-search .inputtext,
.anime-search-form-search .inputButton,
.club-search-form-search .inputtext,
.club-search-form-search .inputButton,
.club-search-form-search .select,
.quickadd-form-search .inputtext,
.quickadd-form-search .inputButton{
    border-radius: 0 !important;
    box-sizing: border-box;
    height: 50px !important;
    border-color: white !important;
    border-width: 0px !important;
    outline: none;
}
.club-list .btn-club-join{
    border-radius: 0 !important;
}
.search_all .result-header{
    margin-top: 0 !important;
    padding: 10px 0 !important;
}
.search_all .content-left{
    border: none !important;
    padding-right: 20px !important;
}
.search_all .content-left > .js-scrollfix-bottom-rel{
    background: white;
    padding: 20px;
}
.search_all .content-left .result-header {
    background: none;
    color: #9c9c9c;
    text-align: left;
    font-size: 1.5em;
}
.search_all .link-content-jump {
    margin: 0 0 20px 0 !important;
    background: whitesmoke;
    padding: 10px;
}
.anime-search-form-block,
.club-search-form-search,
.people-search-form-search,
.quickadd-form-search{
    width: auto !important;
}
.anime-search-form-search,
.quickadd-form-search,
#peopleListPage .people-search-form-search{
    display: flex !important;
    padding: 8px !important;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
    border-radius: 3px;
}
.people-search-form-search .js-advancedsearch{
    display: flex !important;
    width: 100% !important;
}
.js-advancedSearchText{
    width: 100% !important;
}
.club-search-form-search .js-advancedsearch{
    width: 100% !important;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
    border-radius: 3px;
    box-sizing: border-box;
}
.club-search-form-search .js-advancedsearch > div{
    display: flex !important;
}
.club-search-form-search .form-select-outer{
    margin-right: 5px;
}
.club-search-form-search .form-select-outer > select{
    width: 100%;
    padding: 0 !important;
    background-position: 90% 50%;
    background-color: #f6f6f6 !important;
}

/* seasonal anime */
.navi-seasonal{
    padding: 15px !important;
    margin: 0 !important;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff !important;
    margin-bottom: 30px !important;
    box-shadow: 0px 8px 16px #0000001a;
}
.navi-seasonal.fixed{
    top: 0px !important;
    left: 0 !important;
    background-color: white;
}
.navi-seasonal.fixed:after{
    display: none;
}
.navi-seasonal.fixed .fn-grey2{
    display: none;
}
.navi-seasonal .horiznav-nav-seasonal, .navi-seasonal .horiznav_nav{
    border: none !important;
    padding: 0 !important;
}
.navi-seasonal .horiznav_nav{
    padding-bottom: 15px !important;
}
.navi-seasonal .horiznav-nav-seasonal .btn-seasonal .btn-type{
    border-radius: 0 !important;
    margin-right: 0 !important;
    border-right: solid 1px white !important;
    padding: 8px 12px !important;
}
.seasonal-anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px -8px !important;
}
.seasonal-anime-list:after{
    display: none !important;
}
.seasonal-anime-list > article{
    display: none !important;
}
.seasonal-anime-list .anime-header {
    width: 100%;
    margin: 0 8px 20px 8px;
    background: #0060ad;
    border: none;
    padding: 10px;
}
.seasonal-anime-list .seasonal-anime {
    box-sizing: border-box;
    border: solid 5px white;
    padding: 10px 10px 35px 10px;
    box-shadow: 2px 5px 10px rgb(206 206 206 / 50%);
    border-radius: 3px;
    margin: 15px 8px !important;
    height: auto !important;
    max-height: 400px;
}
.seasonal-anime > div:first-child {
    display: flex;
    flex-flow: column;
}
.seasonal-anime .title, 
.seasonal-anime .genres, 
.seasonal-anime .prodsrc{
    width: inherit !important;
}
.seasonal-anime .h2_anime_title {
    margin: 0 !important;
    padding: 0 30px 0px 0 !important;
}
.seasonal-anime .image {
    height: 100% !important;
    width: 30% !important;
    height: calc(100% - 100px) !important;
    overflow: hidden;
    background-color: transparent !important;
}
.seasonal-anime .image .link-image{
    display: none !important;
}
.seasonal-anime .image img {
    width: 100% !important;
    height: auto !important;
}
.seasonal-anime .synopsis{
    width: 70% !important;
    height: calc(100% - 100px) !important;
    padding: 0px 0px 10px 10px !important;
    box-sizing: border-box;
}
.seasonal-anime .information{
    border: none !important;
    background-color: white;
    width: 100% !important;
    padding: 5px 0 !important;
}
.seasonal-anime .information > * {
    background-color: transparent !important;
}
.js-block-list table{
    border-collapse: collapse;
}
.js-block-list td.borderClass {
    border: solid 3px #ffffff !important;
    padding: 10px 15px;
}

/* recommendations page */
#recommendationsPage  #horiznav_nav + div{
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
}
#recommendationsPage .clearfix.spaceit {
    flex-grow: 1;
}
#recommendationsPage .spaceit.borderClass,
#profileTabs.recommendations #horiznav_nav + div > .spaceit.borderClass {
    padding: 15px !important;
    border: none !important;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 30px !important;
    display: inline-block !important;
    width: 400px;
    margin-right: 20px;
    flex-grow: 1;
}
#profileTabs.recommendations #horiznav_nav + div > .spaceit.borderClass{
    width: inherit;
    margin-right: 0 !important;
}
#recommendationsPage .spaceit.borderClass > table,
#profileTabs.recommendations #horiznav_nav + div > .spaceit.borderClass > table{
    background: #fafafa;
    padding: 15px;
    box-shadow: inset 0px 4px 8px #0000000d;
}
#recommendationsPage .recommendations-user-recs-text,
#profileTabs.recommendations .profile-user-recs-text{
    font-size: 1.1em;
    margin: 15px 0 10px !important;
}

/* quickadd page */
.quickadd-form-search{
    margin: 10px 0 20px 0 !important;
}
.quickadd-form-search .inputtext{
    width: 100% !important;
}
#quickaddPage #searchResults{
    display: flex;
    margin: 0 -20px !important;
    flex-wrap: wrap;
    width: auto;
}
#quickaddPage .quickAdd-anime-result, 
#quickaddPage .quickAdd-manga-result{
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 20px;
    flex-grow: 1;
    width: 400px;
    max-width: 100%;
    padding: 0;
}
.page-common .quickAdd-result-header {
    background:#516aa4 !important;
    padding: 15px 10px !important;
    margin-top: 10px !important;
    color: white !important;
}
.quickAdd-anime-result-unit, 
.quickAdd-manga-result-unit {
    transition: 0.2s ease background-color;
    padding: 12px !important;
    background-color: #ebebeb !important;
    margin-top: 12px;
    border: none !important;
}
.quickAdd-anime-result-unit [class^=btn-],
.quickAdd-anime-result-unit .inputButton,
.quickAdd-manga-result-unit [class^=btn-],
.quickAdd-manga-result-unit .inputButton{
    padding: 5px 8px !important;
    border-radius: 2px !important;
    width: auto !important;
    min-width: 40px;
    box-sizing: border-box;
}

/* settings panel */
#editprofilePage #horiznav_nav + div{
    padding: 0 !important;
}
#editprofilePage table{
    padding: 15px 15px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
}
#editprofilePage table table{
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}
#editprofilePage .setting-row td{
    padding: 10px !important;
}
#editprofilePage #content select,
#editprofilePage #content .inputtext{
    padding: 4px 8px;
}
#editprofilePage .normal_header,
#editprofilePage #content h2{
    margin-top: 10px !important;
}

/* general */
.page-common .breadcrumb{
    margin-bottom: 15px;
}
#dialog{
    border: none !important;
    box-shadow: 1px 4px 12px rgb(0 0 0 / 0.15);
    border-radius: 3px;
    margin-bottom: 20px !important;
    background: white;
    border-radius: 3px;
    padding: 15px 10px;
}
#dialog td{
    border: none !important;
}
.page-common .inputButton {
    padding: 5px 8px !important;
    border-radius: 2px !important;
    border: none !important;
}
.page-common .bgColor2 {
    background-color: #f1f1f1 !important;
}
.page-common .hoverinfo{
    background: white;
    border-radius: 5px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    height: auto !important;
}
.page-common .btn-form-submit{
    padding: 10px 10px !important;
}
.page-common .hoverinfo .hoverinfo-contaniner{
    padding: 18px !important;
}
.page-common .hovertitle {
    color: #4165ba !important;
    padding: 8px !important;
    line-height: initial !important;
    display: block;
    background: #eaeaea;
    border-radius: 3px;
}
.page-common .hoverinfo:after{
    filter: brightness(2);
}
.page-common .forum-topic-sort{
    background-color: #516aa4 !important;
    padding: 10px 0 !important;
}
a.btn-rect-grey1{
    padding: 4px 8px !important;
}