#content{
    background-color: transparent;
    display: none !important;
}
.title-name{
    font-size: 1em !important;
    opacity: 0.7;
}
#animePage #leftTableColumn,
#mangaPage #leftTableColumn,
#stafftab>article{
    display: none !important;
}
.page-common .h1{
    margin-bottom: 0 !important;
}
#animanga section h2,
#anistats,
#promotions > .video-block > .border_solid,
#animanga.tabs #externallinks,
#animanga.tabs > #others > section > .border_solid:first-child{
    margin-top: 0 !important;
}
#editDetailsBtn {
    margin-left: 10px;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
}
#alternativeTitles{
    display: flex;
    overflow: hidden;
    cursor: grab;
    margin: 5px 60px 10px 0;
}
#alternativeTitles > h2,
.title-english,
#v-favorite > .borderClass,
#externallinks > .clearfix,
#aniinfo > h2,
#animanga.tabs #externallinks > h2,
.js-anime-toggle-alternative-title-button,
.js-manga-toggle-alternative-title-button{
    display: none;
}
#alternativeTitles>.sliderActions {
    margin: 0 -2px !important;
    position: absolute;
    right: 0;
}
.js-alternative-titles{
    display: contents !important;
}
#alternativeTitles > div, .js-alternative-titles > div{
    margin-right: 20px;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}
#alternativeTitles > div:last-child{
    margin-right: 0;
}
#navigation > #mainImage{
    float: right;
    max-width: 120px;
    margin: 0 0px 0 20px;
    box-shadow: 0 4px 12px #00000033;
}
#animanga #horiznav_nav{
    padding: 0 !important;
    border: none !important;
    margin: 20px 0 8px 0 !important;
}
#animanga #horiznav_nav li{
    border-radius: 4px;
    margin-right: 8px !important;
}
#animanga .breadcrumb{
    opacity: 0.5;
}
#animanga .breadcrumb:hover{
    opacity: 1;
}
#aboutcols{
    display: flex;
}
#aboutleft{
    flex-shrink: 0;
    /* margin-right: 25px; */
    max-width: 20%;
    /* min-width: 110px; */
}
#animanga.tabs #aboutleft{
    width: auto;
    max-width: none;
    margin-right: 20px;
}
#mediabox{
    position: sticky;
    top: 70px;
}
#mediabox>div{
    margin: 0 20px 10px 0;
}
#editStatusBlock, #editStatusBlock>h2{
    display: none;
}
#editStatusBlock:before {
    content: "Edit Status";
    background: var(--malr-bg6,white);
    padding: 10px 25px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    border: solid 1px var(--malr-br3,#385189);
}
#editStatusBlock:hover:before {
    background: var(--malr-bg3,#e2ebff);
}
#addtolist {
    background: var(--malr-bg2,white);
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: -218px;
    box-shadow: 0px 3px 8px var(--malr-menu-shadow,rgba(0,0,0,0.2));
    display: none !important;
    animation: ease .3s dropdown 1;
}
#editStatusBlock:hover #addtolist {
    display: block !important;
}
#animanga.tabs #editStatusBlock{
    display: block;
}
#animanga.tabs #mediabox>div{
    margin: 0;
}
#animanga.tabs #mediabox, #animanga.tabs #aboutright{
    display: flex;
    align-items: center;
}
#mainImage{
    border-radius: 8px;
    overflow: hidden;
}
#mainImage > a {
    display: flex;
}
#mainImage > a > img{
    width: 100%;
}
#aboutleft #profileRows{
    margin-top: 10px;
    font-size: 0.8em;
    padding-bottom: 0;
}
#animanga.tabs #profileRows{
    margin: 0 10px 0 0;
    padding: 0;
}
#aboutleft .icon-block{
    display: flex;
    margin-top: 0 !important;
}
#aboutleft .icon-block > a{
    margin-right: 5px;
}
#aboutright{
    flex-grow: 1;
}
#aboutright >  section{
    margin-top: 15px;
}
#aboutright .anime-detail-header-stats{
    display: block !important;
    overflow: hidden;
}
#aboutright .anime-detail-header-video{
    float: right;
}
#description{
    max-height: 120px;
    overflow: hidden;
    position: relative;
}
#abouttop{
    margin-bottom: 30px;
}
#animanga.tabs #abouttop{
    margin-bottom: 10px;
}
#aniinfo{
    text-align: center;
    border-radius: 8px;
    margin: 0 -10px 0 -10px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    font-size: 1.1em;
    flex-wrap: wrap;
}
#animanga.tabs #aniinfo{
    flex-wrap: unset;
    cursor: grab;
}
#aniinfo > div {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 2px 0px !important;
    padding: 0px 10px;
    border-radius: 0px;
    border-right: solid #7e7e7e80 1px;
}
#aniinfo > div > span {
    margin-right: 5px;
}
#externallinks a{
    padding: 0 12px 0 0;
}
#animanga .anime_detail_related_anime{
    background: none !important;
    border: solid 4px var(--malr-bg3, white);
    border-radius: 8px;
}
#others{
    display: flex;
    flex-wrap: wrap;
    margin: 30px -15px 0 -15px;
    min-width: 100%;
}
#others > section{
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-grow: 1;
    /* box-shadow: 0 4px 8px rgba(var(--malr-bg2-rgb, #000), 0.15); */
}
#opening, #ending, #news, #featured{
    width: calc(50% - 30px);
    background-color: var(--malr-bg1-dark, #eaeaea);
}
.viewOpEdMore {
    float: right;
    margin-top: 10px;
}
#actors,#staff,#discussion,#recommendations,#forum,#mxj{
    overflow: hidden;
    padding: 0 !important;
    box-shadow: none !important;
    width: 100%;
}
#actors > .detail-characters-list > div,
#staff > .detail-characters-list > div {
    width: 100% !important;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    background: none !important;
    border: none !important;
    box-shadow: none;
    margin: 0;
}
#actors > .detail-characters-list > div>table,
#staff > .detail-characters-list > div>table {
    width: auto;
    padding: 10px !important;
    margin: 8px !important;
    min-width: 180px !important;
    background: var(--malr-bg3, #fff) !important;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 8px #0000001a;
}
#actors > .detail-characters-list > div > table > tbody > tr ,
#stafftab, #featured .information{
    display: flex;
    flex-wrap: wrap;
}
#stafftab .navi-anime-character,
#stafftab .navi-manga-character {
    width: 100%;
}
#manga-character-container{
    flex-grow: 1;
}
#actors > .detail-characters-list > div > table > tbody > tr > td:first-child {
    width: auto !important;
}
#actors > .detail-characters-list > div > table > tbody > tr > td:nth-child(2){
    width: 50%;
    flex-grow: 1;
}
#actors > .detail-characters-list > div > table > tbody > tr > td:last-child{
    flex-grow: 1;
    margin-bottom: 0 !important;
    padding-bottom: 3px !important;
}
#actors .picSurround img {
    background: none !important;
    padding: 0 !important;
    margin: 0 5px;
    /* border-radius: 5px; */
}
#reviews{
    max-height: 450px;
    position: relative;
    overflow: hidden;
    background: var(--malr-bg1-dark, #fff);
}
#reviews > .borderDark {
    border: none !important;
    border-radius: 0;
    border-bottom: solid 1px var(--malr-bg4, #eaeaea) !important;
    padding: 15px 0px !important;
    margin-bottom: 15px !important;
    box-shadow: none !important;
}
#reviews > .borderDark:last-child{
    border-bottom: none !important;
}
#featured .tags {
    margin: 5px 0 0 0 !important;
}
#ads{
    margin-top: 40px;
}
#episodes, #promotions, #tabnews, #animanga.tabs #recommendationstab,
#summary, #score, #recentby, #stafftab, #actorstab, #tabfeatured,
#clubs, #pictures, #extrainfo{
    background-color: var(--malr-bg1-dark, #eaeaea);
    padding: 20px !important;
}
#episodes > .video-block, 
#promotions > .video-block,
#externallinks > div{
    margin: 0 !important;
    padding: 0 !important;
}
#actorstab, #stafftab, #recommendationstab{
    max-height: 500px;
    overflow: hidden;
    position: relative;
}
#actorstab table, #actorstab tbody{
    display: block;
    position: relative;
}
#actorstab>table>tbody>tr,
#actorstab>table table>tbody,
#actorstab .js-anime-character-table > tbody > tr, 
#actorstab .js-anime-character-va > tbody{
    display: flex;
    overflow: hidden;
}
#actorstab>table>tbody>tr>td,
#actorstab .js-anime-character-table .borderClass{
    padding: 5px;
    background: none !important;
    width: auto;
    margin: 0 !important;
}
#actorstab>table>tbody>tr>td:nth-child(2),
#actorstab .js-anime-character-table .borderClass:nth-child(2) {
    width: 130px;
    flex-shrink: 0;
}
#actorstab>table>tbody>tr>td:last-child,
#actorstab .js-anime-character-table .borderClass:last-child{
    flex-grow: 1;
    overflow: hidden;
}
#actorstab>table table>tbody>tr,
.js-anime-character-va-lang{
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--malr-bg3, white);
}
#actorstab .sliderActions{
    position: absolute;
    right: -4px;
    bottom: 10%;
    z-index: 1;
    background: var(--malr-bg2, #ffdbbd);
    transform: scale(0.8);
    border-radius: 4px;
    display: none;
    padding: 3px;
}
#actorstab > table,
.anime-character-container > table {
    border-bottom: solid 1px var(--malr-bg3, #ccc) !important;
    padding: 10px 0;
}
#actorstab>table:hover .sliderActions,
.anime-character-container > table:hover .sliderActions {
    display: flex !important;
}
#stafftab > .border_solid,
#stafftab > h2{
    width: 100%;
}
#stafftab > table{
    padding: 5px;
    background: var(--malr-bg3,white);
    margin: 10px;
    flex-shrink: 1;
    width: 200px;
    border-radius: 8px;
    flex-grow: 1;
}
#stafftab td,
#actorstab .js-anime-character-va-lang > td{
    background: none !important;
    font-size: 1.15em;
}
#recommendationstab > .borderClass{
    border-bottom: solid 1px var(--malr-bg3, #ccc) !important;
    padding: 20px 0 !important;
    margin: 0 !important;
}
#recommendationstab > div > table > tbody > tr > td:first-child {
    padding-right: 15px;
}
#recommendationstab .bgColor1 {
    padding: 20px !important;
    border-radius: 8px;
}
#recommendationstab>.border_bottom {
    display: none;
}
#recentby > .table-recently-updated td.borderClass {
    margin-bottom: 0 !important;
    padding: 5px !important;
}
.h3_character_name {
    font-size: 1.2em !important;
}
#animanga.tabs #notify-block{
    margin: 0 10px 0 0 !important;
}