.malr_tabs_container{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-left: 30px;
    overflow: hidden;
}
.tabs_nav{
    display: flex;
    background: var(--malr-bg1-dark,white);
    padding: 10px;
    border-radius: 8px;
}
.tabs_nav>span{
    padding: 10px 12px;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
}
.tabs_nav>span:hover{
    background-color: rgba(0,0,0,0.08)
}
.tabs_nav>span.active{
    background-color: #ececec;
    color: #4165ba;
}
.tabs_content{
    margin-top: 25px;
}
.tabs_content>div{
    display: none !important;
}
.tabs_content>div.active{
    display: block !important;
}

/* element specific */
#malr_tab_about.active{
    display: flex!important;
    flex-wrap: wrap;
    margin: -10px -10px 0 -10px;
}
#malr_tab_about > *{
    flex-grow: 1;
}
#malr_tab_about > .user-status,
#malr_tab_about > section{
    padding: 20px;
    width: 200px;
    background: #ececec;
    border: solid 3px var(--malr-transparent, #e6e6e6);
    margin: 10px !important;
    border-radius: 8px;
    font-size: 1.1em;
    list-style: none;
}
#malr_tab_about > .user-friends-block{
    max-width: 50%;
}
#malr_tab_about .user-friends{
    display: flex;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
}
#malr_tab_about .user-friends > a{
    position: relative;
    min-width: 60px;
    height: 80px;
    background-position: center;
    background-size: cover;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 0;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0,0,0,0.25);
    overflow: hidden;
    flex-grow: 0;
}
#malr_tab_about .user-friends > a:after{
    content: attr(title);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: calc(1rem/1.5);
    padding: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#malr_tab_comments > #lastcomment{
    padding-top: 0 !important;
    margin-top: 0 !important;
}
#malr_tab_comments h2,
#malr_tab_statistics h2{
    display: none;
}
#malr_tab_statistics .user-statistics-stats{
    width: -moz-min-content;
    width: min-content;
}
#malr_tab_statistics .user-statistics-stats:first-of-type{
    margin-right: 25px;
}
#malr_tab_favorites .malrSlider{
    flex-basis: 100%;
    margin-bottom: 15px;
}
#defaultTabBtn{
    margin-left: auto;
    position: relative;
    font-weight: bold;
    background: none;
    color: #888;
    cursor: pointer;
    padding: 0 12px;
    border: none;
}
#defaultTab{
    display: none;
    position: absolute;
    padding: 15px;
    background: var(--malr-black,#385189);
    border-radius: 8px;
    border: solid 2px var(--malr-bg6);
    color: var(--malr-text-default,rgba(255, 255, 255, 0.6));
    right: 0;
    top: 90%;
    flex-flow: column;
    z-index: 1;
    animation: ease .3s dropdown 1;
}
#defaultTabBtn:hover #defaultTab{
    display: flex;
}
#defaultTab > span {
    padding: 10px;
    border-radius: 8px;
    /* border-bottom: solid 1px #8989894d; */
    cursor: pointer;
}
#defaultTab > span:last-child{
    border: none;
}
#defaultTab > span:hover {
    color: var(--malr-text-special,white);
}
#defaultTab > .active {
    background-color: var(--malr-bg6,rgba(0,0,0,0.2));
}