.malrSlider{
    position: relative !important;
    max-width: 100%;
    flex-basis: 100%;
}
.slidingDisabled{
    user-select: unset !important;
    cursor: unset !important;
}
.malrSlider.nochild{
    flex-basis: unset;
}
.malrSlider>.sliderList{
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: hidden !important;
    position: relative !important;
    margin: 0 -10px !important
}
.malrSlider.nochild>.sliderList{
    margin: 0 !important
}
.sliderActions{
    display: flex;
    float: right;
    margin-left: 20px;
    font-weight: normal;
}
.sliderActions.nooverflow > span{
    display: none;
}
.sliderActions.nooverflow.showGridBtn > .grid{
    display: flex;
}
.malrSlider>.sliderList > *{
    margin: 10px !important;
    display: block!important;
    width: auto!important;
    flex-grow: 1;
    min-width: unset;
}
.sliderActions > span{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    line-height: 1;
    margin: 0 2px;
    color: var(--malr-bg4,#ea6a43);
    cursor: pointer;
    user-select: none;
}
.sliderActions > span:after{
    font-family: 'Font Awesome 6 Pro';
    content: "\f053";
    position: absolute;
    font-size: 12px;
}
.sliderActions > .right:after{
    content: "\f054";
}
.sliderActions > .grid:after{
    content: "\f009";
}
.sliderActions > .togglescroll:after{
    content: "\f0c8";
}
.sliderActions > span:hover{
    /* background-color: #8282822e; */
    background-color: var(--malr-bg3,white);
}
.sliderActions > .grid.opted_out,
.sliderActions > .togglescroll.opted_out{
    display: none;
}

/* element specifics */
.auto-recommendations .sliderList{
    min-width: 100%;
}
.widget .sliderList>.btn-anime,
.auto-recommendations .sliderList>.item{
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: flex !important;
    min-width: 140px;
    max-width: 140px;
}
#v-auto-recommendation-personalized_carousel .item {
    margin-bottom: 40px !important;
    overflow: visible;
}
.auto-recommendations .sliderList:after{
    display: none;
}
.widget .sliderList.gridEnabled,
.auto-recommendations .sliderList.gridEnabled,
.anime-slide-block .sliderList.gridEnabled{
    justify-content: space-between;
}
.widget .sliderList.gridEnabled>.btn-anime,
.auto-recommendations .sliderList.gridEnabled>.item,
.anime-slide-block .sliderList.gridEnabled>.btn-anime{
    flex-grow: 0;
}