#malr_menu_btn{
    width: 40px !important;
    height: 40px;
    order: 4;
    background: #2b3e69;
    border-radius: 4px;
    transition: all .4s ease;
    margin-left: 10px !important;
    cursor: pointer;
    user-select: none;
}
#malr_menu_btn:hover{
    background: black;
}
#malr_menu_btn > .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3em;
}
#malr_menu_btn > .btn:after{
    content: "\f142";
    font-family: 'FontAwesome';
    color: white;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}
#malr_menu_btn:hover .btn:after ,
#malr_menu_btn.active .btn:after{
    transform: rotate(90deg);
}
#malr_menu{
    display: none;
    flex-flow: column;
    align-items: flex-start;
    border-radius: 5px;
    color: #47494d;
    position: fixed;
    right: 15px;
    font-size: 1.5em;
    padding: 15px;
    background: rgb(255, 255, 255);
    top: calc(100% + 10px);
    z-index: 1000;
    animation: 1 cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s malr_menu;
    text-transform: capitalize;
    box-shadow: 0 5px 15px #00000033;
}
@keyframes malr_menu {
    from{
        opacity: 0;
        transform: translateX(105%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* #malr_menu_btn:hover #malr_menu, */
#malr_menu_btn.active > #malr_menu{
    display: flex;
}
#malr_menu > div{
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
}
#malr_menu > div:hover,
#malr_themes>div:hover{
    background: #82828217;
    color: #4165ba;
}
#malr_menu > div > div:after{
    content: "on";
    margin-left: auto;
    font-size: 0.8em;
    float: right;
    font-weight: 700;
    color: #fff;
    border-radius: 2px;
    padding: 3px 6px;
    min-width: 45px;
    box-sizing: border-box;
    background: #3a883a;
    text-align: center;
}
#malr_menu > .toggleMalr {
    display: flex;
    background: linear-gradient(45deg,#4f74c826,#ff960026);
    border-radius: 2px;
    align-items: center;
    white-space: nowrap;
}
.toggleMalr > .switch {
    width: 40px;
    height: 22px;
    margin-left: 15px;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    background: #2e51a2;
    border: solid 4px #2e51a2;
}
.toggleMalr > .switch:after {
    content: "";
    width: 50%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    box-sizing: border-box;
    border-radius: 50px;
    transform: translateX(100%);
    transition: all 0.3s ease;
}
#malr_menu .ads.ads-disabled > div:after,
#malr_menu .loading.loading_disabled > div:after{
    content: "off";
    background: #8e2f2f;
}
#malr_menu > .layout > div:after{
    content: "old";
    background: #233c73;
}
#malr_menu > .layout.new > div:after{
    content: "new";
}
#malr_menu > .layout > ul{
    margin: 12px 0 0 0;
}
#malr_menu > .layout li{
    padding: 5px 0;
    list-style: circle;
    color: #8e8e8e33;
    cursor: pointer;
    pointer-events: none;
    font-size: 0.85em;
    transition: transform 0.2s ease;
}
#malr_menu > .layout li:hover{
    list-style: disc;
    transform: translateX(6px);
}
#malr_menu > .layout.new li{
    pointer-events: all;
}
#malr_menu > .layout.new li.active{
    color: #3a883a;
}
#malr_menu > .theme{
    position: relative;
    text-align: right;
    margin-top: 10px;
}
#malr_themes{
    position: absolute;
    background: white;
    left: 0;
    top: 0px;
    padding: 15px;
    transform: translateX(-100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.15);
    display: none;
    animation: ease .3s malr_themes 1;
    text-align: center;
}
@keyframes malr_themes{
    from { opacity: 0; transform: translateX(-90%) }
    to { opacity: 1; transform: translateX(-100%) }
}
#malr_themes>div{
    padding: 10px 15px;
    font-size: 0.85em;
    color: #353535;
    border-bottom: solid 1px #7e7e7e33;
}
#malr_themes>div:last-child{
    border-bottom: none;
}
#malr_menu > .theme:hover #malr_themes{
    display: block;
}
#malr_menu > .theme > div:after{
    display: none;
}
#malr_menu > .theme > .current:before {
    content: "theme : ";
    float: left;
}

/* Section Settings */
#toggleSectionBtn {
    margin-left: 15px;
    background: #385189;
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
#toggleSectionBtn:hover{
    background: #2b3e69;
}
#sectionSettings{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    color: #47494d;
    padding: 4% 3%;
    box-shadow: 0 5px 15px #00000033;
    font-size: 0.9rem;
    z-index: 100;
    display: none;
    height: 100%;
    overflow: auto;
    animation: 1 cubic-bezier(.175,.885,.12,1.1) .3s malr_menu;
}
#sectionSettings.active{
    display: block;
}
#sectionSettings > h3 {
    margin-top: 0;
    font-size: 1.4em;
    display: flex;
    border-bottom: solid 1px #ffffff26;
    align-items: center;
    padding-bottom: 10px;
}
#sectionSettings .close {
    width: 30px;
    height: 30px;
    background: #8b8b8b57;
    display: flex;
    border-radius: 50%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
#sectionSettings .close:hover{
    background: #ff2c55;
}
#sectionSettings .close:after {
    content: "\f00d";
    font-family: 'FontAwesome';
    color: white;
    font-weight: normal;
    font-size: 0.9em;
}
#sectionSettings .settings {
    text-align: initial;
    position: relative;
}
#sectionSettings .settings > div {
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
}
#sectionSettings .settings > div:hover {
    background: #82828226;
    color: #4165ba;
}
#sectionSettings .settings > div:after {
    content: "hidden";
    float: right;
    color: #b25959;
    margin-left: 35px;
}
#sectionSettings .settings > div.active:after{
    content: "visible";
    color: mediumseagreen;
}

/* on extension disabled */
.toggleMalr.off > .switch:after{
    transform: translateX(0);
}
.toggleMalr.off > .switch{
    background-color: #b3b3b3;
    border-color: #b3b3b3;
}
#malr_menu_btn.extension_disabled{
    height: 30px;
    border-radius: 2px;
    background: #2e51a2;
}
.extension_disabled > #malr_menu {
    top: 46px;
    right: 0;
    position: absolute;
    animation-name: fadeIn;
}
.extension_disabled>#malr_menu>div{
    display: none;
}
.extension_disabled>#malr_menu>.toggleMalr{
    display: flex;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleX(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* forum compact btn */
#forumCompactBtn{
    float: right;
    margin-left: 10px;
    padding: 6px 8px;
    border: none;
    background-color: #435d98;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}
#forumCompactBtn:hover{
    background-color: #2f416a;
}
#forumCompactBtn:after{
    content: "off";
    margin-left: 5px;
    padding: 0 0 0 4px;
    border-left: solid 1px #ffffff80;
    font-weight: bold;
    color: #00000066;
}
#forumCompactBtn.on:after{
    content: "on";
    color: #00ff82;
}