:root {
    --malr-black: black;
    --malr-bg1: #0d0d0d;
    --malr-bg1-dark: #080808;
    --malr-bg1-darker: #030303;
    --malr-bg1-light: #171717;
    --malr-bg2: #000000;
    --malr-bg2-rgb: 0,0,0;
    --malr-bg3: #0f1419;
    --malr-bg4: #285749;
    --malr-bg5: #20252e;
    --malr-bg6: #172536;
    --malr-bg7: #0f1215;
    --malr-transparent: transparent;
    --malr-list-watching: rgb(0, 0, 0, 0.15);
    --malr-list-notinlist: rgb(45, 80, 133, 0.15);
    --malr-list-completed: rgb(56, 146, 73, 0.15);
    --malr-list-planto: rgb(105, 105, 105, 0.15);
    --malr-list-onhold: rgba(138, 124, 25, 0.15);
    --malr-list-dropped: rgba(142, 37, 37, 0.15);
    --malr-border-black: black;
    --malr-border-br1: var(--malr-bg1);
    --malr-border-br2: var(--malr-bg2);
    --malr-border-br3: #101414;
    --malr-border-br4: var(--malr-bg3);
    --malr-border-br5: var(--malr-bg4);
    --malr-border-br6: var(--malr-bg6);
    --malr-text-black: black;
    --malr-text-default: #ebebf4;
    --malr-text-default2: #bfbfbf;
    --malr-text-muted: #888;
    --malr-text-muted2: #7a7788;
    --malr-text-link: #97b2ed;
    --malr-text-link-hover: #427eff;
    --malr-text-link2: #a2b0d2;
    --malr-text-special: #489d84;
    --malr-scroll-track-bg: #000000;
    --malr-scroll-thumb-bg: #121212;
    --malr-scroll-thumb-br: var(--malr-scroll-track-bg);
    --malr-ptw-btn: #5b5b5b;
    --malr-nav-br: #20252e;
    --malr-menu-shadow: #4557e94d;
    --malr-staff-card-shadow: #0000004d;
    --malr-toplist-text-hover: #ececf4;
    --malr-forum-br-left: #222;
    --malr-forum-br-left-hover: var(--malr-bg4);
    --malr-header-logo: saturate(0) contrast(2.5);
}