:root {
    --malr-black: white;
    --malr-bg1: #F1ECC3;
    --malr-bg1-dark: #ece5ac;
    --malr-bg1-darker: #ebe3a8;
    --malr-bg1-light: #f5f2d6;
    --malr-bg2: #d3e1c1;
    --malr-bg2-rgb: 211 225 193;
    --malr-bg3: #fdf9d8;
    --malr-bg4: #4288bd;
    --malr-bg5: #ffffff;
    --malr-bg6: #89c587;
    --malr-bg7: #eeffe0;
    --malr-transparent: transparent;
    --malr-list-watching: rgba(255, 255, 255, 0.5);
    --malr-list-notinlist: rgb(45, 80, 133, 0);
    --malr-list-completed: rgb(56, 146, 73, 0.3);
    --malr-list-planto: rgb(105, 105, 105, 0.3);
    --malr-list-onhold: rgba(138, 124, 25, 0.3);
    --malr-list-dropped: rgba(142, 37, 37, 0.3);
    --malr-border-black: white;
    --malr-border-br1: var(--malr-bg1);
    --malr-border-br2: var(--malr-bg2);
    --malr-border-br3: #e3d782;
    --malr-border-br4: var(--malr-bg3);
    --malr-border-br5: var(--malr-bg4);
    --malr-border-br6: var(--malr-bg6);
    --malr-text-black: black;
    --malr-text-default: #4d4d4d;
    --malr-text-default2: #334d48;
    --malr-text-muted: #888;
    --malr-text-muted2: #7a7788;
    --malr-text-link: #bf7140;
    --malr-text-link-hover: #e66819;
    --malr-text-link2: #4288bc;
    --malr-text-special: #347951;
    --malr-scroll-track-bg: #f0ebc1;
    --malr-scroll-thumb-bg: #4288bd;
    --malr-scroll-thumb-br: var(--malr-scroll-track-bg);
    --malr-ptw-btn: #5b5b5b;
    --malr-nav-br: var(--malr-bg5);
    --malr-menu-shadow: rgba(0, 0, 0, 0.149);
    --malr-staff-card-shadow: rgba(0, 0, 0, 0.102);
    --malr-toplist-text-hover: black;
    --malr-forum-br-left: #dace76;
    --malr-forum-br-left-hover: #5ca38d;
    --malr-header-logo: saturate(1) contrast(1);
    --malr-seasonal-after: invert(0);
    --malr-fav-text: #fff;
}