:root{
    /* backgrounds */
        /* containers, btns, cards etc */
        --malr-black: black;
        --malr-bg1: #1a1a2e;
        --malr-bg1-dark: #161627;
        --malr-bg1-darker: #141424;
        --malr-bg1-light: #1f1f37;
        --malr-bg2: #0f0f1a;
        --malr-bg2-rgb: 15, 15, 26;
        --malr-bg3: #16213e;
        --malr-bg4: #e94560;
        --malr-bg5: #243b42;
        --malr-bg6: #0F3460;
        --malr-bg7: #152838;
        --malr-transparent: transparent;

        /* anime user btns */
        --malr-list-watching: rgb(0, 0, 0, 0.3);
        --malr-list-notinlist: rgb(45, 80, 133, 0.3);
        --malr-list-completed: rgb(56, 146, 73, 0.3);
        --malr-list-planto: rgb(105, 105, 105, 0.3);
        --malr-list-onhold: rgba(138, 124, 25, 0.3);
        --malr-list-dropped: rgba(142, 37, 37, 0.3);

    /* borders */
        --malr-border-black: black;
        --malr-border-br1: var(--malr-bg1);
        --malr-border-br2: var(--malr-bg2);
        --malr-border-br3: #121221;
        --malr-border-br4: var(--malr-bg3);
        --malr-border-br5: var(--malr-bg4);
        --malr-border-br6: var(--malr-bg6);

    /* text */
        --malr-text-black: black;
        --malr-text-default: #ebebf4;
        --malr-text-default2: #adadd2;
        --malr-text-muted: #888;
        --malr-text-muted2: #7a7788;
        --malr-text-link: #97edcd;
        --malr-text-link-hover: #39efac;
        --malr-text-link2: #47dfa7;
        --malr-text-special: var(--malr-bg4);

    /* scrollbar */
        --malr-scroll-track-bg: #121221;
        --malr-scroll-thumb-bg: #15203c;
        --malr-scroll-thumb-br: var(--malr-scroll-track-bg);

    /* extras  */
        --malr-ptw-btn: #5b5b5b;
        --malr-nav-br: var(--malr-bg5);
        --malr-menu-shadow: rgba(233, 69, 96, 0.302);
        --malr-staff-card-shadow: rgba(0, 0, 0, 0.302);
        --malr-toplist-text-hover: #ececf4;
        --malr-forum-br-left: #373762;
        --malr-forum-br-left-hover: #5ca38d;
        --malr-header-logo: saturate(0.3) contrast(1.5);
        --malr-badge-filter: invert(1);
}