.editor_container{
    width: auto !important;
}
.quickreply_container{
    margin: 15px 0;
    width: auto !important;
}
.wysibb{
    border: 1px solid var(--malr-border-br6,#ddd);
    background: var(--malr-bg2,#fff);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}
.page-review .wysibb{
    min-width: 600px;
}
.wysibb .wysibb-toolbar{
    border-bottom: 1px solid var(--malr-border-br6,#ddd);
    padding: 0px 90px 7px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    border-right: none !important;
    max-height: none !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container{
    border: none;
    display: flex;
    align-items: center;
    background: var(--malr-bg1-dark,#eaeaea);
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.wysibb .wysibb-toolbar-btn {
    width: auto !important;
}
.wysibb-toolbar-btn .fonticon{
    color: var(--malr-text-default,#333) !important;
    text-shadow: none !important;
    min-width: auto !important;
}
.wysibb-toolbar-btn.wbb-select{
    padding-right: 10px !important;
}
.wysibb-toolbar-btn.wbb-select .sar {
    right: 7px !important;
}
.wysibb-toolbar .modeSwitch .mswitch {
    max-width: none !important;
    border-radius: 3px !important;
    border: none !important;
    overflow: hidden;
    margin: 0 !important;
}
.mswitch:after {
    content: "Preview";
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--malr-bg6, #e2421f);
    filter: saturate(0.6);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.mswitch.on:after{
    content: 'BBcode';
    background: var(--malr-bg4, #4165ba);
}
.mswitch:hover:after{
    filter: saturate(1);
}
.wysibb-toolbar .modeSwitch .btn-inner{
    display: flex !important;
    align-items: center;
}
.wysibb-toolbar-btn.on,
.wysibb-toolbar-btn:active{
    box-shadow: none !important;
    border: none !important;
    background-color: var(--malr-bg6,#d5d5d5) !important;
}
.wysibb-toolbar-btn:hover {
    background: var(--malr-bg5, #d5d5d5)!important;
}
.wysibb-toolbar-btn .wbb-list{
    background: var(--malr-black,white) !important;
    box-shadow: none !important;
    border-color: var(--malr-border-br6,#d5d5d5) !important;
}
.wbb-select .option:hover {
    background: var(--malr-bg7, #ededed);
}
.wbb-list .sc{
    border-color: rgba(138, 138, 138, 0.3) !important;
    transform: scale(0.8);
    transition: 0.2s ease;
}
.wbb-list .sc:hover{
    transform: scale(1);
}
.tbl-sel{
    border: 1px solid var(--malr-border-br6, #ddd);
}
.tbl-sel:hover {
    background: rgba(144, 144, 144, 0.15);
}
.wysibb .wysibb-text{
    margin: 0 !important;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 5px 0 !important;
}
.wysibb-text-editor,.wysibb-texarea{
    flex-grow: 1;
}
.wysibb-text-editor>:first-child {
    margin-top: 0;
}
.wysibb-text-editor img{
    max-width: 100%;
}
.wysibb-text ul>br,
.wysibb-text ol>br,
.wysibb-text table>br,
.wysibb-text tr>br{
    display: none;    
}
.wbbtab {
    margin-left: 30px !important;
}
.wysibb .quotetext {
    border: none;
    border-left: solid 1px;
    margin-bottom: 10px;
}
.fcenter{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.wysibb .spoiler {
    padding: 15px;
    background: var(--malr-bg1-darker,#efefef);
    position: relative;
    margin: 10px 0;
    border-radius: 8px;
    min-height: 28px;
}
.wysibb .spoiler:before {
    content: attr(name);
    padding: 5px 10px;
    background: var(--malr-bg4,#252525);
    text-transform: capitalize;
    color: white;
    border-radius: 5px;
    float: left;
    margin: 0 15px 10px 0;
}
#wbbmodal .wbbm{
    background: var(--malr-bg7,#eaeaea);
    border: 1px solid var(--malr-border-br5,white);
    color: var(--malr-text-default,#333);
    box-shadow: none;
    border-radius: 8px;
}
#wbbmodal .wbbm-title{
    color: inherit;
    border-bottom: inherit;
}
#wbbmodal .wbbm-inp-row input,
#wbbmodal .div-modal-text{
    background: var(--malr-bg2,white);
    color: inherit;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}
#wbbmodal .wbbm-bottom{
    background: rgba(0, 0, 0, 0.1);
    color: var(--malr-text-default,white);
    border: none;
    padding: 10px 20px;
}
#wbbmodal .wbbm-bottom > button{
    background: var(--malr-bg5,#357ebd) !important;
    border: none !important;
    border-radius: 5px;
    color: inherit;
}
.wbbm-bottom > button:hover {
    box-shadow: 2px 2px 0px black;
}
.usertag:before{
    content: "@";
    font-weight: bold;
}
.tthotkey {
    background: var(--malr-bg4,#2b3e69);
    padding: 2px 3px !important;
    position: absolute;
    right: 16px;
    bottom: 12px;
    border: solid 1px;
}